@import "tailwindcss";

/* Global Styles */

body {
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    background: #f8fafc;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

button{
    cursor:pointer;
}